<footer class="footer text-light py-3" >
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4">
        <h5 class="mb-4">Información de contacto</h5>
        <p><i class="fas fa-envelope"></i> Correo electrónico: tonyestrada658@gmail.com</p>
        <p><i class="fas fa-phone"></i> Teléfono: 656-853-1724</p>
      </div>
      <div class="col-lg-4">
        <h5 class="mb-4">Enlaces útiles</h5>
        <ul class="list-unstyled">
          <li><a href="/">Inicio</a></li>
          <li><a href="/nosotros">Acerca de nosotros</a></li>
          <li><a href="/productos">Procutos</a></li>
        </ul>
      </div>
      <div class="col-lg-4">
        <h5 class="mb-4">Síguenos en las redes sociales</h5>
        <a href="#" class="social-icon"><i class="fab fa-facebook-f">antonio</i></a>
      </div>
    </div>
  </div>
</footer>

</body>
</html>

<style>
    .footer {
    background-color: rgba(247, 247, 247, 0.8);
   
    padding: 20px 50px;
  }
  
  .footer h5 {
    color: #000;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .footer p {
    color: #000;
    margin-bottom: 30px;
  }
  
  .footer a {
    color: #000000;
    text-decoration: none;
  }
  
  .footer .social-icon:hover {
    color: #2b0a0a;
  }
  
  .footer .fa {
    font-size: 18px;
    vertical-align: middle;
  }
  
  .footer ul {
    list-style: none;
    padding-left: 0;
  }
  
  .footer ul li {
    margin-bottom: 8px;
  }
  
  .footer ul li a {
    color: #000000;
    transition: color 0.3s;
  }
  
  .footer ul li a:hover {
    color: #3fb6b6;
  }
</style>