<%- include ('layouts/header.ejs') -%> 

<div class="container" style="margin-top: 20px;margin-bottom: 20px;">
  <div class="row">
      <div class="col-md-6 offset-md-3">
          <hr>
          <h1 class="text-center">Mi Informacion Personal</h1>
          <hr>
          <div class="card">
              <div class="card-body">
                  <h5 class="card-title">Nombre: Estrada Martinez Antonio</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Profesión: Desarrollador web</h6>
                  <p class="card-text">¡Hola! Soy Antonio Estrada (Tony), un apasionado desarrollador web con poca experiencia y
                      con un profesor ausente que posiblemente reprobara a medio grupo:D<br> 
                      Me encanta crear aplicaciones y sitios web que sean útiles y atractivos
                      para los usuarios. Mi objetivo es brindar soluciones efectivas y mejorar la experiencia del
                      usuario en la web y sobre todo acreditar la materia de desarrollo multiplataforma.</p>
                  <p class="card-text">Si tienes alguna pregunta o deseas colaborar en un proyecto, no dudes en
                      contactarme. Estoy abierto a nuevas oportunidades y desafíos emocionantes.</p>
                  <ul class="list-group">
                      <li class="list-group-item">Correo electrónico: tonyestrada658@gmail.com</li>
                      <li class="list-group-item">Teléfono: +52 656-853-1724</li>
                      <li class="list-group-item">Sitio web: <a href="https://www.example.com">no tengo ninguno:D</a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


<%- include ('layouts/footer.ejs') -%> 
